################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrmSvcUtilExtensions/BasicFilteringService/obj
/CrmSvcUtilExtensions/GeneratePicklistEnums/obj
