################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrmSvcUtilExtensions/BasicFilteringService/obj
/CrmSvcUtilExtensions/GeneratePicklistEnums/obj
/D365Saturday.CodeActivities/bin/Debug
/D365Saturday.CodeActivities/obj/Debug
/D365Saturday.CodeActivities.Tests/bin/Debug
/D365Saturday.CodeActivities.Tests/obj/Debug
/D365Saturday.Plugins/bin/Debug
/D365Saturday.Plugins/obj/Debug
/D365Saturday.Plugins.Tests/bin/Debug
/D365Saturday.Plugins.Tests/obj/Debug
/D365Saturday.TypedEntities/bin/Debug
/D365Saturday.TypedEntities/obj/Debug
/CrmSvcUtilExtensions/BasicFilteringService/bin/Debug
/CrmSvcUtilExtensions/GeneratePicklistEnums/bin/Debug
/.vs/D365Saturday/v15
/D365Saturday.CRMPackage/bin/Debug
/D365Saturday.CRMPackage/obj/Debug
/packages/Microsoft.CrmSdk.Deployment.9.0.0.7
/packages/Microsoft.CrmSdk.UII.CommonAssemblies.9.0.0.7
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.0.7
/packages/Microsoft.CrmSdk.XrmTooling.PackageDeployment.9.0.0.7
/CrmSvcUtilExtensions/GeneratePicklistEnums/bin/Release
/D365Saturday.CodeActivities/bin/Release
/D365Saturday.CodeActivities/obj/Release
/D365Saturday.CodeActivities.Tests/bin/Release
/D365Saturday.CodeActivities.Tests/obj/Release
/D365Saturday.CRMPackage/bin/Release
/D365Saturday.Plugins/bin/Release
/D365Saturday.Plugins/obj/Release
/D365Saturday.CRMPackage/obj/Release
/D365Saturday.Plugins.Tests/bin/Release
/D365Saturday.Plugins.Tests/obj/Release
/D365Saturday.TypedEntities/bin/Release
/D365Saturday.TypedEntities/obj/Release
/CrmSvcUtilExtensions/BasicFilteringService/bin/Release
node_modules/
/D365Saturday.WebResources/obj/Release
/D365Saturday.WebResources/src/client/public/js/bundle.js
/D365Saturday.CRMPackage/D365Saturday.CRMPackage.csproj.user
/D365Saturday.WebResources/bin
